<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Reservation System Project</h1>
    </div>
    <div>
        <a href="/createnew">New Reservation</a>
    </div>
    <div>
        <a href="/allreservations">View all reservations</a>
    </div>
</body>
</html>
